.left {
  width: 180px;
  background: #212155;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding: 47px 0px 0px 18px;
  button {
    color: #ffffff;
  }

  .logo {
    font-weight: 600;
    font-size: 30px;
    margin-left: 33px;
    margin-bottom: 57px;
  }
  .navigation {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      margin-bottom: 29px;
    }
    img {
      margin-right: 14px;
    }
    &__buttons {
      color: #ffffff;
    }
  }
  .sign-out {
    button {
      color: #8484d8;
    }
    margin-top: 170px;
    display: flex;
    align-items: center;

    img {
      margin-left: 24px;
    }
  }

  .button_active {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.05);
    opacity: 0.9;
  }
}
